body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: rgb(225, 195, 225);
}

.container {
    text-align: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 10px;
    margin: 20px;
}

.cell {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border: 2px solid rgb(0, 0, 7);
    cursor: pointer;
}

.status {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: rgb(211, 136, 30);
}